# Created by https://www.gitignore.io/api/nim,executable,visualstudiocode
# Edit at https://www.gitignore.io/?templates=nim,executable,visualstudiocode

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.dll
*.gadget
*.jar
*.pif
*.png
*.vb
*.wsf

### Nim ###
nimcache/
*test.nim

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/nim,executable,visualstudiocode
section.json
t.nim
t1.nim
test.js
postgreSQLController.nim